<div class="footer-container">
    <div class="footer-links">
        <a href="/about">About</a>
        <a href="https://github.com/rishikeshsreehari/criclite" target="_blank">Github</a>
        <a href="https://ko-fi.com/rishikeshs" target="_blank">Support</a>
        <a href="/plain.txt">plain.txt</a>
    </div>

    <div class="builder">
        Built by&nbsp;<a href="https://rishikeshs.com?utm_source=criclite.com" target="_blank">Rishikesh</a>
    </div>
    
    <div class="version-tag">v0.1.4</div>
</div>