

    
<div class="contact-info">
    Something wrong? <a href="mailto:hello@rishikeshs.com" class="underlined">Email me</a> or 
    <a href="https://github.com/rishikeshsreehari/criclite/issues" target="_blank" class="underlined">report on GitHub</a>
</div>

<div class="support-text">
    Support this project: <a href="https://ko-fi.com/rishikeshs" target="_blank" class="plain-link">Ko-Fi</a> | <a href="https://upime.com/donate?upi_id=rishikeshsreehari%40okhdfcbank&name=Rishikesh%20Sreehari" class="plain-link">UPI</a>
</div>


<div class="footer-container">
    <div class="footer-links">
        <a href="/about">About</a>
        <a href="https://github.com/rishikeshsreehari/criclite" target="_blank">Github</a>
        <a href="https://criclite.goatcounter.com/" target="_blank">Stats</a>
        <a href="/plain.txt">plain.txt</a>
    </div>

    <div class="builder">
        Built by&nbsp;<a href="https://rishikeshs.com?utm_source=criclite.com" target="_blank">Rishikesh</a>
    </div>

    
    
    <div class="version-tag">v0.2.6</div>
</div>